.root{
    -fx-background-color: #f7ca99;
}
.label{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 5 5 5 5;
    -fx-border-radius:10 10 10 10;
    -fx-background-radius:13 13 13 13;
    -fx-padding: 15px;
}
.button{
    -fx-font-family: "8-bit Operator+ 8 Bold";
    -fx-font-size: 12pt;
    -fx-pref-width: 300;
    -fx-pref-height: 100;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 5 5 5 5;
    -fx-border-radius:10 10 10 10;
    -fx-background-radius:13 13 13 13;
}
.button:hover {
    -fx-background-color: #ffd700
}
#nightSky{
    -fx-background-image: url("/sample/rec/nightSky.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 120%;
    -fx-background-position: center center;
}
#morningSky{
    -fx-background-image: url("/sample/rec/morningSky.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
    -fx-background-position: center center;
}